<!DOCTYPE html>
<html>
    <head>
        <title>NuHome</title>
        <!-- Static assets can go in here! -->
        <!-- <link rel="stylesheet" type="text/css" href="/css/styles.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>
         <header class="site-header">
    <nav>
      <div class="nav-wrapper #00838f cyan darken-3">
        <a href="/" class="brand-logo right">NuHome</a>
        <ul class="left">
          <li><a href="/nursinghomes">Locations</a></li>
          <li><a href="/patients">Patients</a></li>
          <li><a href="/drugs">Medical Records</a></li>
        </ul>
    
      </div>
    </nav>
  </header>
        {{{ body }}}
        <!-- The body tag is what our templates will be replacing. -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>