<h1>THIS IS THE PATIENTS PAGE</h1>
{{#each nursinghomes.patients}}
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="https://i.pinimg.com/originals/54/42/e2/5442e25f6479af20d2f4b77c1c5ddf41.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text circle">Add the "circle" class to it to make it appear circular.
              </span>
            </div>
          </div>
        </div>
      </div>
      {{/each}}


      //what am i doing here??? i want each patient to have a card with their picture and stats


      //show is for individual patients