<h1>THIS IS THE PATIENTS PAGE</h1>
{{#each nursinghomes.patients}}
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
              <img src="https://images.unsplash.com/photo-1504778995644-77707b624d5a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5e03df0db2f9ec242b13651cbe7ce139&auto=format&fit=crop&w=800&q=60" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text circle">Add the "circle" class to it to make it appear circular.
              </span>
            </div>
          </div>
        </div>
      </div>
      {{/each}}


      //what am i doing here??? i want each patient to have a card with their picture and stats


      //show is for individual patients