<h1>Nursing Home INDEX</h1>
<center><img height="200" width="200" src="https://media.giphy.com/media/yzpMIrPpE7Fks/giphy.gif" alt=""></center>
{{#each nursinghomes}}
    <p>name: {{name}}</p>
    <a href="/nursinghomes/{{_id}}"><button>more info</button></a>
{{/each}} 