{{!-- <form action="/drugs" method="POST">
        <div>
          <label for="drugName">Drug Name: </label>
          <input type="text" name="drugName" placeholder="YourDrug name here">
        </div>
        
        <div>
          <label for="strengthinMgs">Strength in Mgs: </label>
          <input type="text" name="strengthinmgs" placeholder="0 mg">
        </div>
         <div>
          <label for="routeTaken">Route Taken: </label>
          <input type="text" name="routeTaken" placeholder="Route Taken">
        </div>
         <div>
          <label for="DailyFrequency">Daily Frequency: </label>
          <input type="text" name="Daily Frequency" placeholder="X Times a Day">
        </div>
        <a href="">
          <button type="submit" class="btn btn-light" id="create-button">Add Your new Drug</button>
        </a>
        <button class="btn btn-light">
          <a href="/">Return to Home Page</a>
        </button>
      </form> --}}
<form action="/drugs" method="POST">
        <div>
          <label for="name">Name: </label>
          <input type="text" name="name" placeholder="Enter Name of drug here">
        </div>
        <div>
          <label for="strengthInMg">Strength In Mgs: </label>
          <input type="text" name="strengthInMg" placeholder="Strength in Mgs">
        </div>
        <a href="">
          <button type="submit" class="btn btn-light" id="create-button">Add Your New Drug</button>
        </a>
        <button class="btn btn-light">
          <a href="/">Return to Home Page</a>
        </button>
      </form>